{%layout 'layout.liquid'%}
{%block title%}
Edit Comp - Penguin Comp
{%endblock%}


{%block content%}
<style>
    #delete-button{
        background-color: red;
        border: none;
    }
</style>
<h1>Add New Team Comp</h1>
<a href='/comps/{{comp._id}}'>Back to Comp</a>

<form action='/comps/{{comp._id}}?_method=PUT' method='post'>
    <label for="name">Comp Name: </label><input type='text' name='name' value="{{comp.name}}">
    <label for="top">Top: </label><select name="top">
        {%for champ in allChamps%}
        <option value="{{champ}}" {%if champ == comp.top%}selected{%endif%}>{{champ}}</option>
        {%endfor%}
    </select>
    <label for="jg">Jungle: </label><select name="jg">
        {%for champ in allChamps%}
        <option value="{{champ}}" {%if champ == comp.jg%}selected{%endif%}>{{champ}}</option>
        {%endfor%}
    </select>
    <label for="mid">Mid: </label><select name="mid">
        {%for champ in allChamps%}
        <option value="{{champ}}" {%if champ == comp.mid%}selected{%endif%}>{{champ}}</option>
        {%endfor%}
    </select>
    <label for="adc">ADC: </label><select name="adc">
        {%for champ in allChamps%}
        <option value="{{champ}}" {%if champ == comp.adc%}selected{%endif%}>{{champ}}</option>
        {%endfor%}
    </select>
    <label for="sup">Sup: </label><select name="sup">
        {%for champ in allChamps%}
        <option value="{{champ}}" {%if champ == comp.sup %}selected{%endif%}>{{champ}}</option>
        {%endfor%}
    </select>
    <input type='submit' value="submit">
</form>
<form action='/comps/{{comp._id}}?_method=DELETE' method='post'>
    <input type='submit' value='Delete Comp' id='delete-button'>
</form>
{%endblock%}