{%layout 'layout.liquid'%}
{%block title%}
New Comp - Penguin Comp
{%endblock%}


{%block content%}
<h1>Add New Team Comp</h1>

<form action='/comps' method='post'>
    <label for="name">Comp Name: </label><input type='text' name='name'>
    <label for="top">Top: </label><select name="top">
        {%for champ in allChamps%}
        <option value="{{champ}}">{{champ}}</option>
        {%endfor%}
    </select>
    <label for="jg">Jungle: </label><select name="jg">
        {%for champ in allChamps%}
        <option value="{{champ}}">{{champ}}</option>
        {%endfor%}
    </select>
    <label for="mid">Mid: </label><select name="mid">
        {%for champ in allChamps%}
        <option value="{{champ}}">{{champ}}</option>
        {%endfor%}
    </select>
    <label for="adc">ADC: </label><select name="adc">
        {%for champ in allChamps%}
        <option value="{{champ}}">{{champ}}</option>
        {%endfor%}
    </select>
    <label for="sup">Sup: </label><select name="sup">
        {%for champ in allChamps%}
        <option value="{{champ}}">{{champ}}</option>
        {%endfor%}
    </select>
</form>
{%endblock%}