{%layout 'layout.liquid'%}
{%block title%}
Penguin Comp - Composition Builder
{%endblock%}

{%block otherScripts%}
<link rel="stylesheet" href="/builder.css">
<script src="/recommend.js" defer></script>
{%endblock%}

{%block content%}
<header>
<h1>New Team Comp</h1>
<p>Below are champion recommendations. While it starts with some safe algorithmically generated blind picks, it will recommend as soon as a champ is locked in. So start by locking in comfort, a safe blind...or waiting for your SoloQ rando to first pick Urgot Support.
<br/>Eventually, this will include enemy comps, but this functionality isn't added yet.
</p>
</header>
<h3><a href='/comps'>Back to Index</a></h3>
<div id='champ-display'>
<form action='/comps' method='post' class="dropdowns">
    <label for="name">Comp Name: </label><input type='text' name='name' placeholder="Enter Name">
    <label for="top">Top: </label><select name="top">
        <option value=" "></option>
        {%for champ in allChamps%}
        <option value="{{champ}}">{{champ}}</option>
        {%endfor%}
    </select>
    <label for="jg">Jungle: </label><select name="jg">
        <option value=" "></option>
        {%for champ in allChamps%}
        <option value="{{champ}}">{{champ}}</option>
        {%endfor%}
    </select>
    <label for="mid">Mid: </label><select name="mid">
        <option value=" "></option>
        {%for champ in allChamps%}
        <option value="{{champ}}">{{champ}}</option>
        {%endfor%}
    </select>
    <label for="adc">ADC: </label><select name="adc">
        <option value=" "></option>
        {%for champ in allChamps%}
        <option value="{{champ}}">{{champ}}</option>
        {%endfor%}
    </select>
    <label for="sup">Sup: </label><select name="sup">
        <option value=" "></option>
        {%for champ in allChamps%}
        <option value="{{champ}}">{{champ}}</option>
        {%endfor%}
    </select>
    <input type='submit' value='Submit'>
</form>

<div id='recommended-champs'>
    <div>
    <h5>Top Champs:</h5>
    <ul id='top-recs'></ul>
    </div>
    <div>
    <h5>Jungle Champs:</h5>
    <ul id='jungle-recs'></ul>
    </div>
    <div>
    <h5>Mid Champs:</h5>
    <ul id='mid-recs'></ul>
    </div>
    <div>
    <h5>Bot Champs:</h5>
    <ul id='bot-recs'></ul>
    </div>
    <div>
    <h5>Sup Champs:</h5>
    <ul id='sup-recs'></ul>
    </div>
    <div>
    <h5>Blind Champs:</h5>
    <ul id='blind-recs'></ul>
    </div>
    <div>
    <h5>Flex Champs:</h5>
    <ul id='flex-recs'></ul>
    </div>
</div>
</div>

{%endblock%}